@font-face {
font-family: 'circular';
font-style: normal;
font-weight: normal;
src: url('circular-regular.woff') format('woff');
}
@font-face {
font-family: 'circular';
font-style: bold;
font-weight: bold;
src: url('circular-bold.woff') format('woff');
}
body {
  font-family: 'circular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  /* background-color: #ebedee; */
  background-color: #edeff0;
}
.result-percent {
  border-top: 3px solid !important;
  padding-top: 0.5rem;
  display: inline-block;
}
a, a:hover, a:focus, a:active {
  color: #1c1e29 !important;
  text-decoration: none;
}
.table td {
  vertical-align: middle;
}
.inactive {
  pointer-events: none;
}
.wrapper {
  margin: 35px auto 100px;
}
.bootstrap-nav {
  margin: 0 auto;
}
.wrapper, .bootstrap-nav {
  width: 80%;
  max-width: 1000px;
}
.top-nav {
  background: #3e474f;
  color: #fff;
}
.btn, a.btn {
  border-radius: 4px;
  padding: 0.5rem 1.2rem;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid transparent;
}
.btn[disabled], .not-correct {
  color: #fff !important;
  opacity: 0.2;
}
.no-border-top {
  border-top: 0 !important;
}
.no-border-bottom {
  border-bottom: 0 !important;
}
.btn, .btn:focus, .form-control, .form-control:focus, .in-invalid:focus, .custom-control-input:focus~.custom-control-label::before {
  box-shadow: none !important;
}
.form-control {
  border: 0;
  border-bottom: 1px solid #dadce0 !important;
  background-color: transparent !important;
  padding-left: 2px;
  border-radius: 0;
  -webkit-appearance: none;
  font-size: 1.1rem !important;
  padding-left: 2px;
  /* border: 2px solid #e8ebed !important;
  background-color: #e8ebed; */
}
.form-control:focus {
  border-color: #b7c0c7 !important;
  /* background-color: transparent !important; */
}
.form-control:disabled, .form-control[readonly] {
  background-color: #E1E4E6;
  border-color: #E1E4E6;
}
select.form-control {
  height: auto !important;
}
::placeholder {
  /* color: #dadce0 !important; */
}
.accent-bar-style {
  font-size: 1.3rem !important;
  padding: 15px;
  display: inline-block;
}
.text-muted {
  color: #576366 !important;
}
.btn:hover, .circle:hover, .text-muted-light {
  opacity: 0.8;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: block;
}
.hrline {
  background: #ddd;
  min-height: 1px;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
}
.rectangle {
  padding: 5px 15px;
  border: 3px solid transparent;
  border-radius: 10px;
}
.form-control, .btn, .circle, .rectangle, .answer-list {
  transition: all 120ms cubic-bezier(0.47,0,0.745,0.715);
}
.colorPanelBorder {
  border: 4px solid;
  border-color: #fff;
}
.selectedColor {
  border-color: #ddd;
}
.questionsProgress {
  padding: 1px 0;
  background-color: rgba(255,255,255,0.3);
  position: relative;
  border-radius: 5px;
}
.questionsProgressChild {
  position: absolute;
  background-color: rgba(255,255,255,1);
  left: 0;
  top: 0;
  padding: 1px 0;
  border-radius: 5px;
}
.action-card {
  background-color: #f3f5f6 !important;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05) inset, 0 -1px 0 rgba(0,0,0,0.05) inset !important;
}
.list {
  padding: 25px;
  border-bottom: 1px solid #e8ebed;
}
.answer-list {
  background-color: #f9fafa;
}
.list-lc:last-child {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
}
.answer-list:hover, .selectedAnswer {
  background-color: #fff;
}
.selectedAnswer {
  border-left: 1px solid #9F4B84;
  color: #9F4B84;
}
.default-card {
  margin: 25px 0;
}
.secondary-card {
  padding: 25px;
  margin: 25px 0;
  border-radius: 4px;
  background-color: #fff;
}
.card-header {
  background-color: #fff;
  padding: 25px;
  border: 0;
  border-radius: 4px 4px 0 0 !important;
}
.card-body {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 0 0 4px 4px !important;
}
.card-reset {
  margin: 0;
  border-radius: 0 !important;
  box-shadow: none;
}
.icon {
  width:20px;
}
.transparent {
  background-color: transparent;
}
.transparent:hover {
  background-color: #ebedee;
  opacity: 1 !important;
}
.light {
  background-color: #d4d9dd;
  color: #fff;
}
.light-outline {
  border-color: #d4d9dd;
  color: #576366;
  fill: #576366;
  background: transparent;
}
.white {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff !important;
  fill: #fff !important;
}
.green {
  background-color: #5fcf80 !important;
  color: #fff !important;
  fill: #fff !important;
}
.green-outline {
  border-color: #5fcf80 !important;
  color: #5fcf80;
  fill: #5fcf80;
  background: transparent;
}
.red {
  background-color: #e50914;
  color: #fff;
  fill: #fff;
}
.red-outline {
  border-color: #e50914 !important;
  color: #e50914;
  fill: #e50914;
  background: transparent;
}
.blue {
  background-color: #3659a2;
  color: #fff !important;
  fill: #fff;
}
.black {
  background-color: #000;
  color: #fff;
}
.purple {
  background-color: #9F4B84;
  color: #fff !important;
  fill: #fff;
}
.purple-outline {
  border-color: #9F4B84;
  color: #9F4B84;
  fill: #9F4B84;
}
.orange {
  background-color: #fab712;
  color: #fff;
  fill: #fff;
}
label, .clickable, .input-file, .answer-list {
  cursor: pointer;
}
.dropdown-menu {
  border: 0;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1), 0 0 1px 1px rgba(0,0,0,0.08);
}
.dropdown-item:active {
  background-color: #edeff0;
}
.dropbox {
  border: 5px dashed #E1E4E6;
  max-height: 69px;
  border-radius: 4px;
}
.dropbox:hover {
  border-color: #CAD2D6;
}
.input-file {
  opacity: 0;
  width: 100%;
  height: 59px;
}
/********** animation **********/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}
.animateThis {
  -webkit-animation: fadeInUp 0.3s ease;
  animation: fadeInUp 0.3s ease;
}
